.sentences-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    overflow-y: auto;
}

.sentenceTitle{
    margin-top: 20px;
}

.sentences-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;
}

#sentences-input-container{
    width: 100%;
    height: 30px;
}

.sentences-grid-container{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 10px;

}

#card-sentence-sentencesPage{
    min-height: 150px;
    
}


@media screen and (max-width: 1030px){
    .sentences-grid-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 640px){
    .sentences-grid-container{
        grid-template-columns: 1fr;
    }
}