.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #c6c6c6;
    box-shadow: 1px 1px 10px #c6c8cb;
    background-color: #f2f2f2;

    width: 450px;
    height: 550px;
    gap: 20px;
}