.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: calc(100vh - var(--heightHeader));
    width: 100%;
}

h1, p{
    color: #383838;
}

h1{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

p{
    margin-top: 15px;
    text-align: center;
    font-weight: 300;
}

.pages-buttom-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

@media screen and (max-width: 412px){
    h1{
        font-size: 25px;
    }

    p{
        font-size: 10px;
        width: 80%;
    }

    .pages-buttom-container{
        gap: 10px;
    }
}

@media screen and (max-width: 578px) and (min-width: 413px){

    h1{
        font-size: 30px;
    }

    p{
        font-size: 14px;
        width: 80%;
    }

    .pages-buttom-container{
        gap: 20px;
    }

}

@media screen and (min-width: 579px){
    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
        width: 70%;
    }

    .pages-buttom-container{
        gap: 40px;
    }
}