.translate-icon{
    font-weight: 600;

    color: #bec3c4;
    font-size: 110px;

    -webkit-user-select: none;
    user-select: none;
}

@media screen and (max-height: 590px){
    .translate-icon{
        display: none;
        
    }
}