.ButtomSubmit-container{
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.ButtomSubmit-container > input{
    width: 100%;
    height: 100%;
    border-radius: 5px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 1px solid #c6c6c69f;
    background-color: #14a7a0c4;
    color: white;
    font-weight: 500;

    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.ButtomSubmit-container > input:hover{
    background-color: #14a7a0d9;
}

