.WordsForm-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.WordsForm-container form{
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 80px 40px 100px 35px 1fr 40px;
    gap: 10px;

    width: 80%;
    height: 100%;

    padding-top: 10px;
    padding-bottom: 20px;
}

#logoWordsForm{
    text-align: center;
}

#containerWordForm{
    height: 500px;
    width: 400px;
}

#input-image-link{
    width: 100%;
    border-radius: 10px;
    box-shadow: none;
    height: 35px;
    border-radius: 5px;
    
}

.image-container-input-wordForm{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--inputColor);
    font-weight: 300;

    border-radius: 5px;
    border: 1px solid #c6c6c69f;

    overflow: hidden;

    background-color: #9cbdbc23;
}

.image-container-input-wordForm > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
