.WordsForm-container{
    width: 100%;
    height: calc(100vh - var(--heightHeader));
    display: flex;
    justify-content: center;
    align-items: center;
}

.WordsForm-container form{
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 110px 40px 2fr 1.7fr 40px;
    gap: 10px;

    width: 80%;
    height: 100%;

    padding-top: 10px;
    padding-bottom: 20px;
}

#logoWordsForm{
    text-align: center;
}

@media screen and (max-height: 643px){
    #logoWordsForm{
        font-size: 70px;
    }

    .WordsForm-container form{
        grid-template-rows: 70px 40px 2fr 1.7fr 40px;
    }
}

@media screen and (max-width: 540px){
    #containerWordForm{
        width: 80%;
    }
}