.WordsForm-container{
    width: 100%;
    height: calc(100vh - var(--heightHeader));
    display: flex;
    justify-content: center;
    align-items: center;
}

.WordsForm-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 90%;
}