.SentenceForm-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SentenceForm-container form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110px 2fr 1.5fr 40px;
    gap: 10px;

    width: 80%;
    height: 100%;

    padding-top: 10px;
    padding-bottom: 20px;
}

#logoSentenceForm{
    text-align: center;
    font-size: 110px;
}


@media screen and (max-height: 643px){
    #logoSentenceForm{
        font-size: 70px;
    }

    .SentenceForm-container form{
        grid-template-rows: 70px 2fr 1.5fr 40px;
    }
}

@media screen and (max-width: 540px){
    #containerSentenceForm{
        width: 80%;
    }
}


