.textPreview-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow-y: auto;
}

#container-textPreview-component{
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;

    width: 900px;
    min-height: 50%;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.buttons-textPreview-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: 60px;

    padding-right: 7px;
}


.textPreview-content{
    padding: 0 20px 20px 20px;
    margin-top: 20px;
}

.textPreview-content > h1, 
.textPreview-content > p {
    color: var(--titleColor);
}


.textPreview-content > p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    line-height: 130%;
    font-size: 1.3em;
}

#audio-TextPreview{
    /* background-color: transparent;
    outline: none; */
}


@media screen and (max-width: 980px) {
    #container-textPreview-component{
        width: 90%;
    }
}

@media screen and (max-width: 512px) {
    .textPreview-content > p{
        font-size: 1.1em;
    }
}

@media screen and (max-width: 330px) {
    .textPreview-content > p{
        font-size: 1em;
    }
}
















/* #translate-button-textPreview{
    height: 40px;
    width: 150px;
    font-size: 1em;
} */

/* #translate-button-textPreview:hover{
    background-color: #9380b0;
} */