.icon-audio-wordPreview, 
.image-wordPreview, 
.arrow-image-wordPreview-left, 
.arrow-image-wordPreview-right{

    -webkit-user-select: none;
    user-select: none;

}

.wordPreview-container{
    width: 100%;
    height: calc(100vh - var(--heightHeader));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#wordPreviewInput-container{
   width: 1000px;
   height: 30px;
}

#wordPreviewInput{
   border-radius: 12px;
   box-shadow: 0px 0px 10px #d1d3d5;
   font-size: 0.8em;
}

#wordPreview-containerComponent{
    width: 1000px;
    height: 400px;
    /* height: 500px; */
    background-color: white;
    border: 2px solid #c6c6c66c;
    box-shadow: 0px 0px 10px #d1d3d5;

    flex-direction: row;
    gap: 0px;
}


.word-image-wordPreview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 15px 0px 0px 15px;
    position: relative;

    background-color: rgb(255, 255, 255);
}

.word-sentence-wordPreview{
    height: 100%;
    width: 100%;
    background-color: blue;
    border-radius: 0px 15px 15px 0px;
}

.icon-audio-wordPreview{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1.8em;
    padding: 9px;
    color: var(--iconsColor);
    font-weight: 800;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
}

.icon-audio-wordPreview:hover{
    background-color: var(--backgroundIcon);
    color: #525557;
}

.title-wordPreview{
    color: var(--titleColor);
    font-size: 3em;
    margin-bottom: 15px;

}

.image-wordPreview-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-image-wordPreview-left, .arrow-image-wordPreview-right{
    cursor: pointer;
    color: #383838b5;
    border-radius: 50%;
    font-size: 2em;
    padding: 3px;
    font-weight: 600;
    transition: all 0.15s ease-in-out;

}

.arrow-image-wordPreview-left:hover, .arrow-image-wordPreview-right:hover{
    background-color: var(--backgroundIcon);
}

.arrow-image-wordPreview-left{
    margin-right: 5px;
}

.arrow-image-wordPreview-right{
    margin-left: 5px;
}

.image-wordPreview{
    width: 250px;
    height: 180px;
    overflow: hidden;
    /* border: 1px solid rgb(216, 216, 216); */
    background-color: transparent;

    pointer-events: none;
}

.image-wordPreview > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.progressInput-wordPreview{
    width: 250px;
    background-color: transparent;
    margin-top: 10px;
}
.progressInput-wordPreview > input{
    display: block;
    width: 80%;
    height: 8px;
    -webkit-appearance: none;
    background-color: #9f8abd;
    background: #e7eaeb;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}

.progressInput-wordPreview > input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 0 50% 50% 0;
    background-color: #9f8abd;
    box-shadow: -407px 0 0 400px #9f8abd;
}