.header-container{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    height: 30px;
}

.header-content{
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.header-content > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    color: #464646;
    font-size: 16px;

    border-radius: 8px;

    transition: all 0.2s ease-in-out;

    -webkit-user-select: none;
    user-select: none;
}

.header-content > .link-page:hover{
    background-color: #13a49d7d;
    color: white;
}

.header-content > .home > .home-icon{
    font-size: 22px;
}