.header-container{
    width: 100%;
    height: var(--heightHeader);

    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid #4646462b; */
}

/* sideBar ativada */
.header-content-sideBarOn{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 15px;
    width: 100%;
}

/* sideBar desativada */
.header-content-sideBarOff{
    display: grid;
    grid-template-columns: 478px 1fr;
    width: 100%;
}

.header-content-pages{
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr  0.25fr;
    gap: 10px;
}

.link-page{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    height: 35px;

    color: #464646;
    font-size: 16px;

    border-radius: 2px;

    transition: all 0.2s ease-in-out;
}

.header-content-pages .link-page:hover{
    background-color: #e3e5e7;
    color: #0e908a;
}

.header-content-pages .home {
    font-size: 22px;
}

.profile-header-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 27px;

    width: 100%;
    height: 100%;
}

.profile-photo-header{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

    outline: 1px solid #d1d1d1;
}

.profile-name{
    font-size: 16px;
    color: #464646;

    -webkit-user-select: none;
    user-select: none;

    cursor: pointer;
}