.header-container{
    display: grid;
    grid-template-columns: 478px 1fr;
    width: 100%;
    height: var(--heightHeader);
    padding-top: 5px;
}

.header-content{
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr  0.25fr;
    gap: 10px;
}

.header-content > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    color: #464646;
    font-size: 16px;

    border-radius: 2px;

    transition: all 0.2s ease-in-out;

    -webkit-user-select: none;
    user-select: none;

}

.header-content > .link-page:hover{
    background-color: #e3e5e7;
    color: #0e908a;
}

.header-content > .home > .home-icon{
    font-size: 22px;
}



@media screen and (max-width: 478px){
    .header-container{
        grid-template-columns: 1fr 0px;
    }

    .header-content{
        grid-template-columns: 0fr 1fr 1fr 1fr 1fr  0.25fr;
    }
}