:root {
  --heightTitleSideBar: 50px;
}

.sideBar-container{
  position: absolute;
  z-index: 10;
  top: 0px;
  left: -200px;
  width: 200px;
  /* left: -45%;
  width: 45%; */
  height: 100%;
  background-color: white;
  background-color: #90AEB8;
  background-color: #eaf0f2;
  border-radius: 0 10px 10px 0;

  outline: 1px solid #d1d1d1;

  transition: all 350ms ease-in-out;
}

.title-SideBar-container{
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--heightTitleSideBar);
}

.button-menu-SideBar{
  position: absolute;
  right: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #595858;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  
  -webkit-user-select: none;
  user-select: none;

  pointer-events: visible;
}

.button-menu-SideBar:hover{
  background-color: #dbdce19d;
  color: var(--iconHover);
}


.title-SideBar-container > .Link{
  width: 100%;
  height: 100%;
}


/* pages sidebar */
.sidebar-content-page-title{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  width: 100%;
  height: 100%;
  padding-left: 20px;
  border-radius: 0 10px 0 0;
  transition: all 0.15s ease-in-out;
  color: #464646;
}

.sidebar-content-page-title:hover{
  background-color: #e3e5e7;
  color: #0e908a;
}

.icon-sideBar{
  font-size: 22px;
}

.home-name{
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  height: 22px;
}

/*  editando aqui */

.sidebar-content-pages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: calc(100% - var(--heightTitleSideBar));
}

.sidebar-content-pages > .Link{
  width: 100%;
}

.link-page-sideBar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  padding-left: 20px;


  color: #464646;
  font-size: 16px;
  width: 100%;
  height: 50px;

  transition: all 0.15s ease-in-out;
}

.link-page-sideBar:hover{
  background-color: #e3e5e7;
  color: #0e908a;
}

.sideBar-container > nav {
  -webkit-user-select: none;
  user-select: none;
}