:root {

    --widthPageButtom: 165px;
    --heightPageButtom: 168px;

    --fontSizeIcon: calc(var(--heightPageButtom) * 0.20);
    --fontSizeName: calc(var(--heightPageButtom) * 0.08);
}


.PageButtom-container{
    width: var(--widthPageButtom);
    height: var(--heightPageButtom);
    border-radius: 15px;
    outline: 1px solid #d1d1d1;

    box-shadow: 1px 1px 10px #c6c8cb;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 1fr;
    flex-direction: column;
    justify-content: top;

    cursor: pointer;

    transition: all 0.2s ease-out;
    -webkit-user-select: none;
    user-select: none;
}

.PageButtom-container:hover{
    box-shadow: 1px 1px 14px #a4a6a9;
}

.PageButtom-icon, .PageButtom-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.PageButtom-icon{
    background-color: #dae2e3;
    border-radius: 15px 15px 0px 0px;
}

.PageButtom-icon > .icon{
    color: #aaaaaa;
    font-size: var(--fontSizeIcon);
    font-weight: 600;
}

.PageButtom-name{
    background-color: white;
    border-radius: 0px 0px 15px 15px;
}

.PageButtom-name > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    gap: 5px;


    color: #7d8080;
    font-size: var(--fontSizeName);
    font-weight: 500;
}

.PageButtom-name .name-page{    
    display: flex;
    align-items: center;
}

.PageButtom-name .arrow-icon{
    display: flex;
    align-items: center;
}


@media screen and (max-width: 630px){
    :root{
        --widthPageButtom: 145px;
        --heightPageButtom: 148px;
    }
   
}

@media screen and (max-width: 594px){
    :root{
        --widthPageButtom: 135px;
        --heightPageButtom: 138px;
    }
    
}

@media screen and (max-width: 470px){
    :root{
        --widthPageButtom: 125px;
        --heightPageButtom: 128px;
    }
   
}

@media screen and (max-width: 440px){
    :root{
        --widthPageButtom: 115px;
        --heightPageButtom: 118px;
    }
    
}

@media screen and (max-width: 390px){
    :root{
        --widthPageButtom: 105px;
        --heightPageButtom: 108px;
    }

}

@media screen and (max-width: 360px){
    :root{
        --widthPageButtom: 95px;
        --heightPageButtom: 98px;
    }

}

@media screen and (max-width: 330px){
    :root{
        --widthPageButtom: 85px;
        --heightPageButtom: 88px;
    }

}

@media screen and (max-width: 290px){
    :root{
        --widthPageButtom: 75px;
        --heightPageButtom: 78px;
    }

}