*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: white;
}

:root{
  --heightHeader:  40px;
  --inputColor: #444546;
  --titleColor: #383838;
  --iconsColor: #383838e1;
  --backgroundIcon: #f0f2f5;
  --iconHover: #37938ed2;
}
